[v-cloak] {
  display: none;
}

body {
  display: flex;
  height: 100vh;
}

#app {
  flex-grow: 1;
}
#app select {
  cursor: pointer
}
#app img.device {
  width: 300px;
}
#app div.autoscroller {
  overflow: auto;
  max-height: 300px;
  display: flex;
  flex-direction: column-reverse;
}
#app pre.term {
  font-family: monospace;
}
#app .overlay {
  display: flex !important;
  flex-direction: column;
}
#app .console {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
}
#app .console .holder {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#app .console-input {
  flex-grow: 1;
  display: block;
  appearance: none;
  background: transparent;
  border: 0;
  font-family: monospace;
  font-size: .875rem;
}
#app .console-input:focus, #app console-input:focus{
  outline: none;
}
#app .pre {
  white-space-collapse: preserve;
  min-width: 300px;
}
#app .version {
  flex-wrap: wrap;
}
#app .version div.field {
  min-width: 140px;
}